<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>

    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/style.css" rel="stylesheet">

</head>
<body>

<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <a class="block" href="/">
                    <img src="/img/pevo_logo.svg" alt="pevo - decentralized open access and evaluation">
                </a>
            </div>
            <div class="col-10">
                <?php
                /* @todo prettier solution */
                if(array_key_exists('navigation',$this->data['config']['modules'])) {
                    $this->includeFile(
                        'mod_navigation_main',
                        [
                            'pages'=>[
                                ['page'=>'home'],
                                ['page'=>'whitepaper'],
                                ['external'=>true,'href'=>'https://chat.pevo.science','title'=>'chat']
                            ]
                        ]
                    );
                }
                ?>
            </div>
        </div>
    </div>
    <div class="puzzle-right">
        <div>
            <span class="tri-1"></span>
            <span class="tri-2"></span>
            <span class="tri-3"></span>
            <span class="tri-4"></span>
        </div>
    </div>
    <div class="puzzle-left">
        <div>
            <span class="tri-1"></span>
            <span class="tri-2"></span>
            <span class="tri-3"></span>
            <span class="tri-4"></span>
            <span class="tri-5"></span>
            <span class="tri-6"></span>
        </div>
    </div>
</header>