<footer id="footer">
    <div class="top">
        <strong>Drop an idea:</strong>
    </div>
    <div class="btm">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="mailto:idea@pevo.science">idea@pevo.science</a>
                </div>
            </div>
        </div>
        <div class="puzzle-right">
            <div>
                <span class="tri-1"></span>
                <span class="tri-2"></span>
                <span class="tri-3"></span>
                <span class="tri-4"></span>
            </div>
        </div>
        <div class="puzzle-left">
            <div>
                <span class="tri-1"></span>
                <span class="tri-2"></span>
                <span class="tri-3"></span>
                <span class="tri-4"></span>
                <span class="tri-5"></span>
                <span class="tri-6"></span>
            </div>
        </div>
    </div>
    </body>
    </html>