/**
 * Pevo.science - css by Alexander Drichel - alex@pevo.science
 * Based on Crush - the-echoplex.net/csscrush/
 *
 * Description: Navigation styling
 *
 */

/* ==========================================================================
   Base navigation
   ========================================================================== */

.mod-navigation {
    overflow: hidden;
}

.mod-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    display: block;
}

.mod-navigation ul li {
    display: block;
    text-align: center;
}

.mod-navigation ul li :any(a,span){
    display: block;
    padding: 10px 0;
    line-height: 28px;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
}


/* ==========================================================================
   Main navigation
   ========================================================================== */

#main_navigation :any(a,span){
    font-family: $(alt-font);
    font-weight: 500;
}

#main_navigation ul {
    padding-top: 10px;
}

/* ==========================================================================
   Media queries
   ========================================================================== */

/* small */
@media screen and ($(small)) {
    #main_navigation ul {
        float: right;
    }
    #main_navigation li {
    display: block;
    width: auto;
    float: left;
    padding-left: 30px;
    border-left: 1px solid $(black);
    margin: 10px 0 10px 30px;
    }

    #main_navigation li:first-of-type {
        border-left: none;
    }

    #main_navigation ul :any(a,span){
        text-align: right;
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* medium */
@media screen and ($(medium)) {

}

/* large */
@media screen and ($(large)) {
    #main_navigation {
    float: right;
}

    #main_navigation ul {
        padding-top: 0;
}
}

/* xlarge */
@media screen and ($(xlarge)) {

}
