/**
 * Pevo.science - css by Alexander Drichel - alex@pevo.science
 * Based on Crush - the-echoplex.net/csscrush/
 *
 * Description: Typographic styling
 *
 */

/* ==========================================================================
    Links
   ========================================================================== */

a {
    color: $(petrol1);
    text-decoration: none;
    transition: color .25s;
}


a:hover {
    color: $(magenta1);
}


.petrol a {
    color: $(magenta1);
    text-decoration: none;
    transition: color .25s;
}


a:hover {
    color: $(green1);
}

/* ==========================================================================
    Headlines
   ========================================================================== */

:any(h1,h2,h3,h4,h5,h6){
    font-family: $(alt-font);
    font-weight: 500;
    margin-top: .75em;
    margin-bottom: .5em;
}

h1 {
    font-size: 3em;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 2.25em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.75em;
}

h6 {
    font-size: 1.5em;
}

/* ==========================================================================
    copy
   ========================================================================== */

li,
p {
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 300;
}

li{
    font-weight: 400;
}

strong,
b{
    font-weight: 500;
}