<IfModule mod_rewrite.c>
  Options -Indexes
  RewriteEngine On
  
  # redirect index.html and home to the root domain
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)(index\.html|home?)$ /$1 [R=301,NC,L]

  #redirect everything else to index.php with url param
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>