<nav id="nav_id" class="mod-nav">
  <ul>
    <?php 
    $this->data['navigation']['pages'] = CambrianNavigationModule::create(
      [
        ['page'=>'home'],
        ['page'=>'docs'],
        ['external'=>true,'href'=>'/whitepaper.pdf','title'=>'Whitepaper']
      ]
    );
    foreach($this->data['navigation']['pages'] as $page): ?>
    <li>
      <?php if ($page['href'] === null): ?>
        <span class="active"><?= $page['title'] ?></span>
      <?php else: ?>
        <a href="<?= $page['href']?>"<?php
          if(isset($page['external']) && $page['external'])
            echo 'target="_blank"';
          echo '>';
          echo $page['title'];
        ?></a>
      <?php endif; ?>

    </li>
    <?php endforeach; ?>
  </ul>
</nav>