<?php 
  $navigation = new CambrianNavigationModule(
    $this->data['pages']
  );
?>
<nav id="nav_id" class="mod-navigation">
  <ul>
    <?php foreach($navigation->pages as $page): ?>
    <li>
      <?php if ($page['href'] === $this->data['url']): ?>
        <span class="active"><?= $page['title'] ?></span>
      <?php else: ?>
        <a href="<?= $page['href']?>"<?php
          if(isset($page['external']) && $page['external'])
            echo 'target="_blank"';
          echo '>';
          echo $page['title'];
        ?></a>
      <?php endif; ?>

    </li>
    <?php endforeach; ?>
  </ul>
</nav>