<nav id="nav_id" class="mod-nav">
  <ul>
    <?php $pages = [['href'=>'/docs','title'=>'Docs','external'=>true]]; foreach ($pages as $page): ?>
    <li>
      <?php if ($page['href'] === null): ?>
        <span class="active"><?= $page['title'] ?></span>
      <?php else: ?>
        <a href="<?= $page['href']?>"<?php
          if($page['external'])
            echo 'target="_blank"';
          echo '>';
          echo $page['title'];
        ?></a>
      <?php endif; ?>

    </li>
    <?php endforeach; ?>
  </ul>
</nav>