<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>

    </title>
</head>
<body>

<header id="header">
    <div class="container">
        <div class="row">
            <?php
            if(in_array('navigation',$this->data['config']['modules'])) { 
              $this->includeFile(
                'mod_navigation_main',
                [
                  'pages'=>[
                    ['page'=>'home'],
                    ['page'=>'docs'],
                    ['external'=>true,'href'=>'https://github.com/pharesim/cambrian','title'=>'fork it on github']
                  ]
                ]
              );
            }
            ?>
        </div>
    </div>
</header>